/* fake store title */
#home{
    color: white;
    background-image: linear-gradient(to right, blueviolet, violet);
    margin-left: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
#fake-store{
    color: white;
    background-image: linear-gradient(to right, blueviolet, violet);
    border-radius: 5px;
    box-shadow: 5px 5px 10px blueviolet;
}
#fake-store a{
    font-weight: lighter;
    text-decoration: none;
    padding: 10px;
}

/* all products */
#display-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 10px;
}

/* single product */
#products-div{
    height: 500px;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    background-image: linear-gradient(darkviolet, white);
    text-align: center;
}

/* product image */
#products-div img{
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 120px;
    width: 100px;
}
#products-div img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.35);
    box-shadow: 5px 5px 10px violet;
}

/* product title */
#product-title{
    color: white;
    background-color: #000000cc;
}

/* product price */
#product-price{
    color: white;
    background-color: blueviolet;
}

/* product category */
#product-category{
    color: white;
    background-color: darkviolet;
    padding: 3px;
}

/* footer */
footer{
    color: white;
    background-color: #000000e6;
    padding: 100px;
}